In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Making Dataset

* ## make_classification

In [6]:
from sklearn.datasets import make_classification

x, y = make_classification(n_samples=100, n_features=6, n_informative=3,
                          n_redundant=2, n_repeated=0, n_clusters_per_class=2,
                          n_classes=3, random_state=0)

df = pd.DataFrame(x, columns=['x1', 'x2', 'x3', 'x4', 'x5', 'x6'])
df['y'] = y

df

          x1        x2        x3        x4        x5        x6  y
0  -1.883154  0.806082 -1.142918 -0.512257 -0.362460 -0.159945  2
1   0.689837  1.068260  0.006068 -0.679698  0.394167 -1.191951  1
2   2.862320 -0.967497  0.524888 -0.668869  0.184036 -0.766462  1
3  -0.707607  0.269827 -1.212630 -1.337343 -0.156985 -1.220008  2
4  -1.420566  0.987424 -0.941438 -0.671218 -0.101404 -0.646900  2
..       ...       ...       ...       ...       ...       ... ..
95 -1.188951  0.007966 -0.786246 -0.789009  0.151969 -1.094907  2
96  0.152591  1.043630 -0.235529 -0.758101  0.350459 -1.247390  1
97  1.997166  0.856933 -0.898758 -1.064800 -1.194870  0.619902  0
98  1.997506 -0.802995  2.274575  2.340079  0.161256  2.333207  0
99 -1.941414 -0.335021  2.773086  2.975389  2.074036  0.186306  2

[100 rows x 7 columns]

* ## make_regression

In [7]:
from sklearn.datasets import make_regression

x, y = make_regression(n_samples=100, n_features=5, random_state=0)

df = pd.DataFrame(x, columns=['x1', 'x2', 'x3', 'x4', 'x5'])
df["y"] = y

df

          x1        x2        x3        x4        x5           y
0  -0.993124  0.280442  0.049495 -0.249459  0.841631  -69.645151
1  -2.772593  0.399046 -0.652409  0.390093  1.955912 -144.809532
2   1.029439  0.771406  0.862596 -0.424318 -0.908763   71.384309
3   1.077744 -0.133702 -0.384880 -0.730678 -1.126826  -15.383890
4  -0.539455 -2.016407  1.738873 -0.709728 -0.275671 -197.139359
..       ...       ...       ...       ...       ...         ...
95  0.317218  0.910179 -0.944446 -0.466419  0.786328   54.946162
96 -1.347759  1.883151 -1.173123  0.969397 -1.270485  -30.508671
97 -0.413619  1.943621  1.480515  1.922942 -0.747455  198.820567
98 -0.349943 -1.029935  2.696224  1.298022  1.100284  108.140123
99  1.494485  0.781198  0.676908  0.426259 -2.069985  138.929501

[100 rows x 6 columns]