In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Making Dataset

* ## make_classification

In [2]:
from sklearn.datasets import make_classification
X, y = make_classification(n_samples=100, n_features=6, n_informative=3,
                          n_redundant=2, n_repeated=0, n_clusters_per_class=2,
                          n_classes=3, random_state=0)

df = pd.DataFrame(X, columns=['x1', 'x2', 'x3', 'x4', 'x5', 'x6'])
df['y'] = y

df

          x1        x2        x3        x4        x5        x6  y
0  -1.883154  0.806082 -1.142918 -0.512257 -0.362460 -0.159945  2
1   0.689837  1.068260  0.006068 -0.679698  0.394167 -1.191951  1
2   2.862320 -0.967497  0.524888 -0.668869  0.184036 -0.766462  1
3  -0.707607  0.269827 -1.212630 -1.337343 -0.156985 -1.220008  2
4  -1.420566  0.987424 -0.941438 -0.671218 -0.101404 -0.646900  2
..       ...       ...       ...       ...       ...       ... ..
95 -1.188951  0.007966 -0.786246 -0.789009  0.151969 -1.094907  2
96  0.152591  1.043630 -0.235529 -0.758101  0.350459 -1.247390  1
97  1.997166  0.856933 -0.898758 -1.064800 -1.194870  0.619902  0
98  1.997506 -0.802995  2.274575  2.340079  0.161256  2.333207  0
99 -1.941414 -0.335021  2.773086  2.975389  2.074036  0.186306  2

[100 rows x 7 columns]

* ## make_regression

In [ ]:
from sklearn.datasets import make_regression

x, y = make_regression(n_samples=100, n_features=5, random_state=0)

df = pd.DataFrame(x, columns="