# Introduction to Scikit-Learn (sklearn)

This notebook demonstrates some of the most useful functions of the beautiful Scikit-Learn library

What we're going to cover:

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm
3. Fit the model/algoritm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and Load a trained model
7. Putting it all together

## 0. An end-to-end Scikit-Learn workflow

In [18]:
import numpy as np

In [2]:
# 1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv("../data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [11]:
# Create X (features matrix)
X = heart_disease.drop("target", axis=1)

# Create y (labels)
y = heart_disease["target"]

In [6]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the deefault hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [15]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [25]:
clf.fit(X_train, y_train);

In [26]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
236,58,1,0,125,300,0,0,171,0,0.0,2,2,3
264,54,1,0,110,206,0,0,108,1,0.0,1,1,2
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1
227,35,1,0,120,198,0,1,130,1,1.6,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,62,0,0,160,164,0,0,145,0,6.2,0,3,3
226,62,1,1,120,281,0,0,103,0,1.4,1,1,3
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3
80,41,1,2,112,250,0,1,179,0,0.0,2,0,2
248,54,1,1,192,283,0,0,195,0,0.0,2,1,3

In [32]:
# make a prediction
# y_label = clf.predict(np.array([0, 2, 3, 4])) THIS IS ERROR: It isnt a same shape as earlier data

In [29]:
y_preds = clf.predict(X_test)
y_preds

array([1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0])

In [31]:
y_test

16     1
115    1
88     1
27     1
3      1
      ..
84     1
51     1
152    1
190    0
271    0
Name: target, Length: 61, dtype: int64

In [35]:
# 4. Evaluate the model on the training data and test data
clf.score(X_train, y_train)

1.0

In [40]:
clf.score(X_test, Y_test)

0.5081967213114754

In [42]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.43      0.67      0.53        15
           1       0.87      0.72      0.79        46

    accuracy                           0.70        61
   macro avg       0.65      0.69      0.66        61
weighted avg       0.76      0.70      0.72        61

In [43]:
confusion_matrix(y_test, y_preds)

array([[10,  5],
       [13, 33]])

In [45]:
accuracy_score(y_test, y_preds)

0.7049180327868853

In [51]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 101, 10):
    print(f"Trying model with {i} estimators")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on the test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators
Model accuracy on the test set: 75.41%

Trying model with 20 estimators
Model accuracy on the test set: 73.77%

Trying model with 30 estimators
Model accuracy on the test set: 77.05%

Trying model with 40 estimators
Model accuracy on the test set: 72.13%

Trying model with 50 estimators
Model accuracy on the test set: 72.13%

Trying model with 60 estimators
Model accuracy on the test set: 68.85%

Trying model with 70 estimators
Model accuracy on the test set: 72.13%

Trying model with 80 estimators
Model accuracy on the test set: 72.13%

Trying model with 90 estimators
Model accuracy on the test set: 70.49%

Trying model with 100 estimators
Model accuracy on the test set: 70.49%

In [53]:
# 6. Save a model and load it
import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb")) # wb: write binary

In [55]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb")) # rb: read binary
loaded_model.score(X_test, y_test)

0.7049180327868853